<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Event page</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
</head>


<body>
    <header>
        <nav>

            <ul>
                <li>
                    <a href="/event">Back to create event</a>
                </li>

            </ul>
        </nav>
    </header>

    <h1>Here are all your upcomming events!</h1>

    <h3>Events</h3>

    <ul class="event-data">
        <% for(var i=0; i<event.length; i++) {%>



            <li class="message">

                <a href="/viewEvent/<%= event[i]._id%> " id="<%= event[i]._id%>">
                    <%= event[i].eventTitle %>

                </a>

                <span>On this date:
                    <%= event[i].date %>
                </span>
                <span>
                    <%= event[i].personOne %>

                </span>
                <span>
                    <%= event[i].personTwo %>
                </span>
                <span>
                    <%= event[i].personThree %>
                </span>

                <span>
                    Are going to watch:
                    <%= event[i].batmovie %>
                </span>
                <span>
                    or :
                    <%= event[i].starmovie %>
                </span>

                <span>
                    One the menu we have for food:
                    <%= event[i].meal %>
                </span>
                <span>
                    and for drinks :
                    <%= event[i].drink %>
                </span>


                <span>
                    Delete Event:
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </span>


                <span>
                    Favorite Event:
                    <i class="fa <%= event[i].favorited?  'fa-heart':'fa-heart-o'%> heart" aria-hidden="true"></i>
                </span>


            </li>

            <% } %>
    </ul>

    <h3>Edit your events below</h3>

    <table>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Person One</th>
            <th>Person Two</th>
            <th>Person Three</th>
            <th>Movie Choice One</th>
            <th>Movie Choice Two</th>
            <th>Food</th>
            <th>Drink</th>
            <th>Delete</th>
        </tr>

        <% for(var i=0; i<event.length; i++) {%>



            <tr id="<%= event[i]._id%>">
                <td>
                    <input value="<%= event[i].eventTitle %>">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </td>
                <td>
                    <input value="<%= event[i].date %>">
                </td>
                <td>
                    <input value="<%= event[i].personOne %>">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </td>
                <td>
                    <input value="<%= event[i].personTwo %>">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </td>
                <td>
                    <input value="<%= event[i].personThree %>">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </td>
                <td>
                    <input value="<%= event[i].batmovie %>">
                </td>
                <td>
                    <input value="<%= event[i].starmovie %>">
                </td>
                <td>
                    <input value="<%= event[i].meal %>">
                </td>
                <td>
                    <input value="<%= event[i].drink %>">
                </td>
                <td>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </td>
            </tr>
            <% } %>
    </table>

    <section class="drinkSection">

    </section>

    <section class="foodSection">

    </section>


    <script src="/main.js"></script>



</body>

</html>