<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Event page</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
</head>


<body>
    <header>
        <nav>

            <ul>
                <li>
                    <a href="/event_details">See all your events</a>
                </li>

            </ul>
        </nav>
    </header>








    <section class="formContainer">
        <form action="/addEvent" method="POST">
            <input type="date" name="date" id="dateSelect">
            <input type="text" placeholder="Person 1" name="personOne">
            <input type="text" placeholder="Person 2" name="personTwo">
            <input type="text" placeholder="Person 3" name="personThree">

            <select name="batmovie" id="bat-man-movieSelect">
                <option value="">--Select A Batman Movie--</option>
                <% for(var i=0; i<movie.length; i++) {%>

                    <option value="<%= movie[i].Title %>">
                        <%= movie[i].Title %>
                    </option>
                    <% } %>
            </select>

            <select name="starmovie" id="star-wars-movieSelect">
                <option value="">--Select A Star Wars Movie--</option>
                <% for(var i=0; i<movieTwo.length; i++) {%>

                    <option value="<%= movieTwo[i].Title %>">
                        <%= movieTwo[i].Title %>
                    </option>
                    <% } %>
            </select>




            <select name="eventDrink" id="event-drink">
                <option value="">--Select A Drink--</option>
                <% for(var i=0; i<drink.length; i++) {%>

                    <option value="<%= drink[i].strDrink %>">
                        <%= drink[i].strDrink %>
                    </option>
                    <% } %>
            </select>
            <select name="eventMeal" id="event-meal">
                <option value="">--Select A Meal--</option>
                <% for(var i=0; i<food.length; i++) {%>

                    <option value="<%= food[i].strMeal %>">
                        <%= food[i].strMeal %>
                    </option>
                    <% } %>
            </select>




            <input type="text" placeholder="Event Title" name="eventTitle">
            <button type="submit">Create Event!</button>
        </form>
    </section>

    <h3>Movies Currently Available to watch!</h3>
    <ul class="movie-data">
        <% for(var i=0; i<movie.length; i++) {%>



            <li class="message <%= movie[i].Title %>">
                <span>
                    <%= movie[i].Title %>

                </span>
                <span>

                    <img src="<%= movie[i].Poster %>" alt="<%= movie[i].Title %>">
                </span>

                <span>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </span>

                <span>
                    <i class="fa fa-check-square" aria-hidden="true"></i>
                </span>



            </li>

            <% } %>
    </ul>
    <ul class="movie-data">
        <% for(var i=0; i<movieTwo.length; i++) {%>



            <li class="message <%= movieTwo[i].Title %>">
                <span>
                    <%= movieTwo[i].Title %>

                </span>
                <span>

                    <img src="<%= movieTwo[i].Poster %>" alt="<%= movieTwo[i].Title %>">
                </span>

                <span>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </span>

                <span>
                    <i class="fa fa-check-square" aria-hidden="true"></i>
                </span>



            </li>

            <% } %>
    </ul>
    <section class="drinkSection">
        <h3>drinks</h3>
        <ul class="drinks-data">
            <% for(var i=0; i<drink.length; i++) {%>



                <li class="message <%= drink[i].title %>">
                    <span>
                        <%= drink[i].strDrink %>
                            <img src="<%= drink[i].strDrinkThumb %>" alt="">
                    </span>

                    <span>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </span>

                    <span>
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                    </span>



                </li>

                <% } %>
        </ul>
    </section>

    <section class="foodSection">
        <h3>Food</h3>
        <ul class="food-data">
            <% for(var i=0; i<food.length; i++) {%>



                <li class="message <%= food[i].title %>">
                    <span>
                        <%= food[i].strMeal %>
                            <img src="<%= food[i].strMealThumb %>" alt="">
                    </span>

                    <span>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </span>

                    <span>
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                    </span>



                </li>

                <% } %>
        </ul>
    </section>


    <script src="/main.js"></script>



</body>

</html>