<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Event page</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/normalize.css">
</head>


<body>
    <header>
        <nav>

            <ul>
                <li>
                    <a class="link" href="/event_details">See all your events</a>
                </li>

            </ul>
        </nav>
        <h1>Nerdy Movie Night Planner!</h1>
    </header>








    <section class="formContainer">
        <form action="/addEvent" method="POST">
            <input type="date" name="date" id="dateSelect">
            <input type="text" placeholder="Person 1" name="personOne">
            <input type="text" placeholder="Person 2" name="personTwo">
            <input type="text" placeholder="Person 3" name="personThree">

            <select name="batmovie" id="bat-man-movieSelect">
                <option value="">--Select A Batman Movie--</option>
                <% for(var i=0; i<movie.length; i++) {%>

                    <option value="<%= movie[i].Title %>">
                        <%= movie[i].Title %>
                    </option>
                    <% } %>
            </select>

            <select name="starmovie" id="star-wars-movieSelect">
                <option value="">--Select A Star Wars Movie--</option>
                <% for(var i=0; i<movieTwo.length; i++) {%>

                    <option value="<%= movieTwo[i].Title %>">
                        <%= movieTwo[i].Title %>
                    </option>
                    <% } %>
            </select>




            <select name="eventDrink" id="event-drink">
                <option value="">--Select A Drink--</option>
                <% for(var i=0; i<drink.length; i++) {%>

                    <option value="<%= drink[i].strDrink %>">
                        <%= drink[i].strDrink %>
                    </option>
                    <% } %>
            </select>
            <select name="eventMeal" id="event-meal">
                <option value="">--Select A Meal--</option>
                <% for(var i=0; i<food.length; i++) {%>

                    <option value="<%= food[i].strMeal %>">
                        <%= food[i].strMeal %>
                    </option>
                    <% } %>
            </select>




            <input type="text" placeholder="Event Title" name="eventTitle">
            <button type="submit">Create Event!</button>
        </form>
    </section>

    <h3>Movies Currently Available to Watch!</h3>



    <section class="content-container">
        <% for(var i=0; i<movie.length; i++) {%>
            <% if(!(movie[i].Title === 'Batman Begins' || movie[i].Title === 'Batman Forever')) {%>
                <section class="content-box white">
                    <div>
                        <img src="<%= movie[i].Poster %>" alt="<%= movie[i].Title %>">
                    </div>
                    <div>
                        <%= movie[i].Title %>
                    </div>
                </section>
                <% } %>
                    <% } %>
    </section>

    <section class="content-container">
        <% for(var i=0; i<movieTwo.length; i++) {%>
            <% if(!(movieTwo[i].Title === 'Star Wars' || movieTwo[i].Title === 'Star Wars: Episode II - Attack of the Clones' || movieTwo[i].Title === 'Star Wars: Lost Horizons')) {%>
                <section class="content-box white">
                    <div>
                        <img src="<%= movieTwo[i].Poster %>" alt="<%= movieTwo[i].Title %>">
                    </div>
                    <div>
                        <%= movieTwo[i].Title %>
                    </div>
                </section>
                <% } %>
                    <% } %>
    </section>
    <h3>Drinks</h3>
    <section class="content-container">
        <% for(var i=0; i<drink.length; i++) {%>
            <section class="content-box white">
                <div>
                    <img src="<%= drink[i].strDrinkThumb %>" alt="<%= drink[i].strDrink %>">
                </div>
                <div>
                    <%= drink[i].strDrink %>
                </div>
            </section>

            <% } %>
    </section>

    <h3>Food</h3>
    <section class="content-container">
        <% for(var i=0; i<food.length; i++) {%>
            <section class="content-box white">
                <div>
                    <img src="<%= food[i].strMealThumb %>" alt="<%= food[i].strMeal %>">
                </div>
                <div>
                    <%= food[i].strMeal %>
                </div>
            </section>

            <% } %>
    </section>
    <script src="/main.js"></script>



</body>

</html>