<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Event page</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/normalize.css">
</head>


<body>
    <header>
        <nav>

            <ul>
                <li>
                    <a class="link" href="/event_details">Back to your events</a>
                </li>

            </ul>
        </nav>
    </header>

    <h1>Here is your event!</h1>

    <h3>Event</h3>

    <ul class="event-data">
        <form action="/updateEvent" method="PUT">
            <% for(var i=0; i<singleEvent.length; i++) {%>



                <li class="message">
                    <span>

                        <%= singleEvent[i].eventTitle %>

                    </span>
                    <span>On this date:
                        <%= singleEvent[i].date %>
                    </span>
                    <span>
                        <%= singleEvent[i].personOne %>
                    </span>
                    <span>
                        <%= singleEvent[i].personTwo %>
                    </span>
                    <span>
                        <%= singleEvent[i].personThree %>
                    </span>
                    <span>
                        Are going to watch:
                        <%= singleEvent[i].batmovie %>
                    </span>
                    <span>
                        or :
                        <%= singleEvent[i].starmovie %>
                    </span>
                    <span>
                        On the menu we have for food:
                        <%= singleEvent[i].meal %>
                    </span>
                    <span>
                        and for drinks :
                        <%= singleEvent[i].drink %>
                    </span>
                </li>

                <% } %>

        </form>
    </ul>





    <h2>Hope you and your friends have fun!</h2>




    <script src="/main.js"></script>



</body>

</html>